.title {
    margin-bottom: 30px;

    font-weight: 700;
    text-align: center;
    font-size: 28px;
    line-height: 1.17;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;

        font-size: 36px;
        line-height: 1.16;
    }
}

.advantages-list {

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;

    }

    &__item {
        margin-bottom: 30px;

        @media screen and (min-width: 480px) {
            &:last-child {
                margin-bottom: 0px;
            }
        }

        // max-width: 270px;
        @media screen and (min-width: 768px) {
            width: calc((100% - 30px) / 2);

            &:nth-child(odd) {
                margin-right: 30px;
            }

            &:nth-last-child(-n + 2) {
                margin-bottom: 0;
            }

        }

        @media screen and (min-width: 1200px) {
            width: calc((100% - 90px) / 3);
            margin-bottom: 0;

            &:not(:last-child) {
                margin-right: 30px;
            }
        }

    }

    &__element {
        @include centeredFlex;
        height: 120px;
        max-width: 100%;
        margin-bottom: 30px;
        border-radius: 4px;

        background-color: #f5f4fa;
        color: $primary-text-color;
    }

    &__icon {
        fill: currentColor;
    }

    &__title {
        margin-bottom: 10px;

        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;

        @media screen and (max-width: 767px) {
            text-align: center;
        }
    }

    &__text {
        font-size: 14px;
        line-height: 1.71;
        color: $secondary-text-color;
    }

}