.header-mobile {

    width: 100%;
    min-height: 60px;
    border-bottom: 1px solid #ececec;

    background-color: $second-accent-color;

    @media screen and (min-width: 768px) {
        display: none;

    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {

    &__button {

        z-index: 3;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        background-color: transparent;
        border: none;
        width: 40px;
        height: 40px;

        &:active .icon-menu {
            fill: $accent-color;
        }


        & .icon-cross {
            display: none;
            // opacity:0
        }

        &.is-open .icon-cross {
            display: block;
            // opacity:1
        }

        &:active.is-open .icon-cross {
            fill: $accent-color;
        }

        &.is-open .icon-menu {
            display: none;
            // opacity:0
        }

    }

    &__container {
        display: flex;
        flex-direction: column;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        min-height: 100vh;
        width: 100vw;
        padding: 40px 20px;

        background-color: $second-accent-color;
        opacity: 0;
        visibility: hidden;
        transform: scale(0);
        transition: transform 250ms $animation-movement,
            opacity 250ms $animation-movement,
            visibility 250ms $animation-movement;
        // overflow-y: scroll;

        @media screen and(min-width: 480px) {
            padding: 48px 40px;
        }

        @media screen and(orientation: landscape) {
            // overflow-y: scroll;

            .inner {
                flex-wrap: wrap;
                transform: translate(-40% -40%);
            }

        }

        &.is-open {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
        }
    }

}

.menu-nav {


    &__item {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    &__link {
        display: inline-block;
        padding: 2px;
        font-weight: 500;
        font-size: 30px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.02em;
        color: $primary-text-color;

        @media screen and(min-width:480px) {
            font-size: 40px;
        }

        &--current {
            color: $accent-color;
        }

        &:active {
            color: $accent-color;
        }
    }
}

.menu-auth-nav {
    margin-bottom: 64px;

    &__item {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    &__link {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: $secondary-text-color;

        @media screen and (min-width: 480px) {
            font-size: 24px;
        }

        &--phone {
            font-size: 28px;
            line-height: 1.17;
            color: $accent-color;

            @media screen and(min-width: 480px) {
                font-size: 34px;
            }
        }

        &:active {
            color: $accent-color;
        }
    }

}

.social-mobile {

    &__list {
        display: flex;

    }

    &__item {
        &:not(:last-child) {
            border-right: 1px solid rgba(33, 33, 33, 0.2);
        }
    }

    &__link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: $accent-color;
        padding: 5px 10px;

        &--no-padding {
            padding-left: 0;
        }

        @media screen and(min-width: 480px) {
            font-size: 18px;
        }

    }
}

.inner {
    margin-top: auto;
    padding-top: 40px;

}