.hero {
    height: 600px;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;

    text-align: center;

    background-color: #2f303a;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__title {
            margin: 0 auto 30px auto;
            max-width: 696px;
    
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: $second-accent-color;
        }
}

.button{

    &--hero {
            padding: 10px 32px;
    
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
            @include transition(background-color);

            &:hover,
            &:focus{
                    background-color: #146cb4;
            }
        }
}